<div id="Global">
  <div id="gauche"> 
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>       
  </div>
  <div id="droite"> 
   <h1>KPIs</h1>
    <h3>Top five GAB</h3>
    <ul>
    <li *ngFor="let t of top5s">
      
     gab  {{ t.gabname }} • {{ t.tauxActivite }}  
  </li>
   </ul>
      <h3>moyenne par region: </h3>
      <li *ngFor="let r of regMoy" >
      
          {{r[0]}} : {{ r[1] }}  
     </li>
       
  </div>
</div>
      
      
      
        
    
            

          
       