.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 60px;
  margin-left:30px ;
  width: 50%;
  height: 150%;
  
  
}

.map-frame {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}
#Global
{
    width:100%;
}
 #gauche {
  float:left;
  width:60%;
}
#droite {
  margin-left:60%   
}