<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a  class="navbar-brand">prevision_cash</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      
      <li class="nav-item" *ngIf="loginService.getUserRole()">
        <a href="http://localhost:4200/mod" class="nav-link" routerLink="mod">administrateur</a>
      </li>
          </ul>

    

    <ul class="navbar-nav ml-auto" *ngIf="loginService.isUserLoggedIn()">
      <li class="nav-item">
        <a href="http://localhost:4200/register" class="nav-link" routerLink
        ="register"> {{loginService.getName()}}</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:4200/user" class="nav-link"  routerLink="user">Accueil</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
    
