#Global
{
    width:100%;
}
 #gauche {
    float:left; 
    width: 25%;
}
#droite {
  margin-left:25% ;
    width:75%;
}
#droitedroite {
    float:left;
  width:25% ;   
}
#droitegauche {
  margin-left:30% ;
    width:50%
}
#droitegauchedroite {
  float:left;
  width:20% ;
}
#droitegauchegauche {
  margin-left: 50%;
}
#strong{
 text-decoration-color: brown;
}