<div id="Global">
    <div id="gauche"> 
        <form class="addForm" method="POST" (ngSubmit)="addUser($event)" >
          <br>  
          <mat-form-field class="example-full-width">
                <input matInput placeholder="nom"  type="text" name="name">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="email"  [formControl]="emailFormControl"  name="username">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  s.v.p enter une adresse valide 
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email  <strong>invalide</strong>
                </mat-error>
            </mat-form-field>
             <br>
             <mat-form-field class="example-full-width">
                <input matInput placeholder="role"  type="text" name="role">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="mot de pass"  type="password" name="password">
            </mat-form-field>
            <br>
            <button mat-button type="submit"><h6>ajouter utilisateur</h6></button>
        </form> 
        <strong id="strong">{{ displayAdd()}}</strong>
    </div>
    <div id="droite">
        <div id="droitedroite">
            <form class="deleteForm" method="POST" (ngSubmit)="deleteUser($event)" >
              <br><br><br>  
              <mat-form-field class="example-full-width">
                    <input matInput placeholder="email"  [formControl]="emailFormControl"  name="username">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      s.v.p enter une adresse valide 
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email  <strong>invalide</strong>
                    </mat-error>
                </mat-form-field>
                            <br>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="mot de pass"  type="password" name="password">
                </mat-form-field>
                <br>
                <button mat-button type="submit"><h6>supprimer utilisateur</h6></button>
             </form>
              <strong id="strong">{{ displayDelete()}}</strong>
        </div>
         <div id="droitegauche">
          
        <form class="updateForm" method="POST" (ngSubmit)="updateUser($event)" >
          <div id="droitegauchedroite">    
           <br>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="ancien email"  [formControl]="emailFormControl"  name="Pusername">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  s.v.p enter une adresse valide 
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email  <strong>invalide</strong>
                </mat-error>
            </mat-form-field>
             <br>
                         <mat-form-field class="example-full-width">
                <input matInput placeholder="ancien mot de pass"  type="password" name="Ppassword">
            </mat-form-field>
            <br>
          </div>
          <div id="droitegauchegauche">
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="nom"  type="text" name="name">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="email"  [formControl]="emailFormControl"  name="username">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  s.v.p enter une adresse valide 
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email  <strong>invalide</strong>
                </mat-error>
            </mat-form-field>
             <br>
             <mat-form-field class="example-full-width">
                <input matInput placeholder="role"  type="text" name="role">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="mot de pass"  type="password" name="password">
            </mat-form-field>
            <br>
            <br>
                <button mat-button type="submit"><h6>modifier utilisateur</h6></button>
                <strong id="strong" >{{ displayUpdate()}}</strong>
            </div>
              </form>  
        </div>
    </div>
    </div>
    