#Global
{
    width:100%;
}
 #gauche {
    float:left; 
    width: 40%;
}
#droite {
  margin-left:40% ;
    width:60%;
}
#gauche1 {
  float:left; 
  width: 25%;
}
#droite1 {
margin-left:25% ;
  width:75%;
}
#droitedroite {
  float:left;
width:25% ;   
}
#droitegauche {
margin-left:40% ;
  width:50%
}
#droitegauchedroite {
float:left;
width:20% ;
}
#droitegauchegauche {
margin-left: 50%;
}
#strong{
text-decoration-color: brown;
}