<div id="Global">
  <div id="gauche"> 
      <br>
      <form class="updateMeForm" method="POST" (ngSubmit)="updateMe($event)" >
          <mat-form-field class="example-full-width">
              <input matInput placeholder="nouveau nom"  type="text" name="name">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="nouveau email"  [formControl]="emailFormControl"  name="username">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                s.v.p enter une adresse valide 
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email  <strong>invalide</strong>
              </mat-error>
          </mat-form-field>
           <br>
           <mat-form-field class="example-full-width">
              <input matInput placeholder="nouveau role"  type="text" name="role">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="nouveau mot de pass"  type="password" name="password">
          </mat-form-field>
          <br>
          <br>
              <button mat-button type="submit"><h6>modifier utilisateur</h6></button>
              <br>
              <strong id="strong" >{{ displayUpdateMe()}}</strong>
            </form>
  </div>
          
          <div id="droite">
            <br>
              <form class="previsionForm" method="POST" (ngSubmit)="previsionCash($event)" >
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="nom du gab"  type="text" name="nomGab">
              </mat-form-field>
              <br>
              <button mat-button type="submit"><h6>prevision du cash</h6></button>
              <!-- <strong id="strong" >{{ previsionCashDisplay()}}</strong> -->
              <br><strong style="padding-left: 50;" id="strong" >    10000</strong> 
                          </form>
             <br><br><br><br><br><br><br><br><br><br><br><br><br>  
        </div>
</div>
<div id="Global">
  <div id="gauche1"> 
    <form class="addForm" method="POST" (ngSubmit)="addGab($event)" >
      <br>  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="nom"  type="text" name="nom">
    </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="longitude"  type="text" name="longitude">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="latitude"  type="text" name="latitude">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="etat"  type="text" name="etat">
  </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="region"  type="text" name="region">
  </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="rue"  type="text" name="rue">
  </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="seuilMin"  type="text" name="seuilMin">
  </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="seuilMax"  type="text" name="seuilMax">
  </mat-form-field>
   <br>
   <mat-form-field class="example-full-width">
    <input matInput placeholder="soldeRestant"  type="text" name="soldeRestant">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="tauxActivite"  type="text" name="tauxActivite">
</mat-form-field>
 <br>
 <mat-form-field class="example-full-width">
  <input matInput placeholder="tauxReponse"  type="text" name="tauxReponse">
</mat-form-field>     
        
        <button mat-button type="submit"><h6>ajouter gab</h6></button>
    </form> 
    <strong id="strong">{{ displayAdd()}}</strong>
</div>
<div id="droite1">
  <br>
    <div id="droitedroite">
        <form class="deleteForm" method="POST" (ngSubmit)="deleteGab($event)" >
          <br>  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="nom"  type="text" name="nom">
    </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="longitude"  type="text" name="longitude">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="latitude"  type="text" name="latitude">
    </mat-form-field>  
    <button mat-button type="submit"><h6>supprimer gab</h6></button>
         </form>
          <strong id="strong">{{ displayDelete()}}</strong>
    </div>
     <div id="droitegauche">
      <br>
    <form class="updateForm" method="POST" (ngSubmit)="updateGab($event)" >
      <div id="droitegauchedroite">    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="nom ancien"  type="text" name="pnom">
    </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="longitude ancien"  type="text" name="plongitude">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="latitude ancien"  type="text" name="platitude">
      </mat-form-field>
      </div>
      <div id="droitegauchegauche">
         <mat-form-field class="example-full-width">
           <input matInput placeholder="nom"  type="text" name="nom">
       </mat-form-field>
           <br>
           <mat-form-field class="example-full-width">
             <input matInput placeholder="longitude"  type="text" name="longitude">
         </mat-form-field>
         <br>
         <mat-form-field class="example-full-width">
           <input matInput placeholder="latitude"  type="text" name="latitude">
       </mat-form-field>
       <br>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="etat"  type="text" name="etat">
     </mat-form-field>
       <br>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="region"  type="text" name="region">
     </mat-form-field>
       <br>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="rue"  type="text" name="rue">
     </mat-form-field>
       <br>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="seuilMin"  type="text" name="seuilMin">
     </mat-form-field>
       <br>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="seuilMax"  type="text" name="seuilMax">
     </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
       <input matInput placeholder="soldeRestant"  type="text" name="soldeRestant">
   </mat-form-field>
   <br>
   <mat-form-field class="example-full-width">
     <input matInput placeholder="tauxActivite"  type="text" name="tauxActivite">
   </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
     <input matInput placeholder="tauxReponse"  type="text" name="tauxReponse">
   </mat-form-field>     
         <button mat-button type="submit"><h6>modifier gab</h6></button>
         <br>
            <strong id="strong" >{{ displayUpdate()}}</strong>
        </div>
          </form>  
          <br>
    </div>
</div>
 
</div>